.upload-image{
   /* width: 100%; */
    padding: 10px;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.image-selection {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.standard-images {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .standard-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: border-color 0.2s;
  }
  
  .standard-image:hover {
    border-color: #007acc;
  }

  
  .puzzle-container {
      width: 50%;
    }
    
    .upload-image>input {
      background-color: #007acc;
    }
  button, input{
    padding: 10px 20px;
    background-color: #007acc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 1em;
    /* width: 140px; */
  }
  .button-next{
    width: 180px;
    margin: 20px auto;
  }
  .block-size {
    font-size: 1.5em;

  }
  
  @media (max-width: 520px) {

    .standard-images {
    /* display: block; */
    /* flex-wrap: wrap; */
    /* width: 80%; */
    /* gap: 15px; */
    /* margin: auto; */
  }

  .puzzle-container {
    width: 90%;
  }
  
  }