.standard-images {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
  }
  
  .standard-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: border-color 0.2s;
  }
  
  .standard-image:hover {
    border-color: #007acc;
  }

  .upload-image>input {
    background-color: #007acc;
  }
  
  @media (max-width: 520px) {

    .standard-images {
    display: block;
    width: 80%;
    gap: 15px;
    margin: auto;
  }
  
  }